<!DOCTYPE html>
<html>
  <head>
    <title>Ziolkowski Dental</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <container>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>New Patient Form</legend>

<div class="well">
<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="title">Title</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="title-0">
      <input type="radio" name="title" id="title-0" value="1" checked="checked">
      Mr.
    </label>
  </div>
  <div class="radio">
    <label for="title-1">
      <input type="radio" name="title" id="title-1" value="2">
      Mrs.
    </label>
  </div>
  <div class="radio">
    <label for="title-2">
      <input type="radio" name="title" id="title-2" value="3">
      Ms.
    </label>
  </div>
  <div class="radio">
    <label for="title-3">
      <input type="radio" name="title" id="title-3" value="4">
      Dr.
    </label>
  </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="First MI. Last" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nickname">Nickname</label>  
  <div class="col-md-4">
  <input id="nickname" name="nickname" type="text" placeholder="First" class="form-control input-md">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="address">Address</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="address" name="address"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="hphone">Home Phone</label>  
  <div class="col-md-4">
  <input id="hphone" name="hphone" type="text" placeholder="(###) ###-####" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="cphone">Cell Phone</label>  
  <div class="col-md-4">
  <input id="cphone" name="cphone" type="text" placeholder="(###) ###-###" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="ssn">Social Security Number</label>  
  <div class="col-md-4">
  <input id="ssn" name="ssn" type="text" placeholder="###-##-####" class="form-control input-md">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="month">Month</label>
  <div class="col-md-4">
    <select id="month" name="month" class="form-control">
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="day">Day</label>
  <div class="col-md-4">
    <select id="day" name="day" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="year">Year</label>  
  <div class="col-md-4">
  <input id="year" name="year" type="text" placeholder="####" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="gender">Gender</label>  
  <div class="col-md-4">
  <input id="gender" name="gender" type="text" class="form-control input-md">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="civil">Civil Status</label>
  <div class="col-md-4">
    <select id="civil" name="civil" class="form-control">
      <option value="1">Single</option>
      <option value="2">Married</option>
      <option value="3">Divorced</option>
      <option value="4">Widowed</option>
    </select>
  </div>
</div>

</div>

<div class="well">

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="google@gmail.com" class="form-control input-md" required="">
    
  </div>
</div>

</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>

    </container>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </body>
</html>