<!DOCTYPE html>
<html>
  <head>
    <title>Ziolkowski Dental</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <container><img src="/img/nick.jpg" class="center-block img-responsive">
      <h3>$75.00 OFF </h3>
      <h4>Teeth Whitening Special </h4>
      <p class="lead">expires July 31st, 2015</p>
      <p id="today"></p>
    </container>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
      	var d = new Date();
      	var date = d.getDate();
      	var month = d.getMonth() + 1;
      	var year = d.getFullYear();
      	$("#today").text("Today: " + ((''+month).length<2?'0':'') + month + "/" + ((''+date).length<2?'0':'') + date + "/" + year);
      	var nextMonth;
      	if (date > 15) month +=1;
      	if (month == 1) nextMonth = "Febuary";
      	else if (month == 2) nextMonth = "March";
      	else if (month == 3) nextMonth = "April";
      	else if (month == 4) nextMonth = "May";
      	else if (month == 5) nextMonth = "June";
      	else if (month == 6) nextMonth = "July";
      	else if (month == 7) nextMonth = "August";
      	else if (month == 8) nextMonth = "September";
      	else if (month == 9) nextMonth = "October";
      	else if (month == 10) nextMonth = "November";
      	else if (month == 11) nextMonth = "December";
      	else if (month == 12) nextMonth = "January";
      	$("p.lead").text("expires " + nextMonth + " 1st, " + year)
      	window.print(); window.location.href = "/#special";})
    </script>
  </body>
</html>