/* Global */

body {
	font-family: 'robotothin';
}

.container-full {
	width: 100%;
}

/* Nav Bar*/

.nav-container {
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
	z-index: 100;
	background-color: #555;
}

a.nav-btn {
	height: 81px;
	line-height: 81px;
	text-align: center;

	text-decoration: none;
	color: #FFF;
	background-color: #555
}

.nav-btn:hover {
	text-decoration: none;
	color: #FFF;
	background-color: #666;
}

div.nav-btn img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Contact Button */

a.contact-button {
	position: fixed;
	right: 20px;
	height: 120px;
	width: 120px;
	line-height: 120px;
	text-align: center;
	z-index: 99;

	background-color: #555;
	color: #fff;
	text-decoration: none;
}

a.contact-button:hover {
	background-color: #666;
	text-decoration: none;
}

/* Special */

.special {
	float: right;
	background-color: #777;
	color: #fff;
	padding: 20px;
	margin: 20px;
}

/* Links */

.links {
	float: right;
	clear: both;
	background-color: #777;
	color: #fff;
	padding: 20px;
	margin: 20px;
}

img.link {
	max-width: 120px;
	display: block;
	margin: 0 auto;
}

/* Welcome */

div.title {
	position: absolute;
	left: 10%;
	z-index: 11;
}

div.welcome h1 {
	margin: 20px;
	text-shadow: 0px 0px 5px #000,
				0px 0px 10px #000,
				0px 0px 10px #000,
				0px 0px 10px #000;
	color: #fff;
}

div.welcome h2 {
	margin: 20px;
	text-shadow: #000 0px 0px 5px,
				0px 0px 10px #000,
				0px 0px 10px #000,
				0px 0px 10px #000;
	color: #fff;
}

img.welcome {
	width: 100%;
	position: absolute;
	z-index: 10;
}

/* Services */

/*
@media (max-width: 1800px) {
	.services {
		clear: both;
	}
}*/

.services {
	position: relative;
	z-index: 1000;
}

/* About */

.emp-img {
	float: left;
	margin-right: 20px;
	width: 150px;
}

/* Contact Us */

.google-map {
	width: 100%;
	min-height: 500px;
	margin-top: -200px;
}

.info {
	position:relative;
	float: right;
	top: 100px;
	right: 20px;
	background-color: #555;
	padding: 20px;
	color: #fff;
}

 address a {
	color: #fff;
	text-decoration: none;
}

 address a:hover {
	color: #fff;
	text-decoration: none;
}

/* Footer */

.footer {
	height: 80px;
	background-color: #999;
	position: fixed;
	width: 100%;
}

.footer img {
	height: 40px;
	width: 40px;
	margin: 20px;
}

/* Utility */

.spacer {
	height: 80px;
	z-index: -1;
}

.filler {
	height: 5000px;
	width: 100%;
	background-color: #fff;
	position: absolute;
	z-index: 50;
}

@font-face {
    font-family: 'robotothin';
    src: url('roboto-thin-webfont.eot');
    src: url('roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-thin-webfont.woff2') format('woff2'),
         url('roboto-thin-webfont.woff') format('woff'),
         url('roboto-thin-webfont.ttf') format('truetype'),
         url('roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
#nav {
    background-color: #888;
    z-index: 100;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
}

#nav:hover {
    opacity: 1;
    background-color: #444;
}

table {
    margin: 0 auto;
    height: 100px;
}

#contact-button {
    position: fixed;
    background-color: #888;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    font-size: 16px;
    border-radius: 20px;
    padding: 16px;
    text-transform: uppercase;
    z-index: 30;
}

#contact-button:hover {
    text-decoration: none;
    opacity: 1;
    background-color: #444;
}

#contact-button img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 48px;
}

.nav-btn {
    text-transform,: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
}

.nav-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #666;
}

#welcome {
    position: absolute;
    z-index: 10;
    overflow: hidden;
}

#welcome img {
    width: 100%;
}

#welcome h2 {
    position: absolute;
    left: 80px;
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);

}

#welcome h3 {
    position: absolute;
    left: 80px;
    color: #9bd;
    font-size: 28px;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

#body {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 20;
    overflow: hidden;
}

#services {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #444;
    color: #fff;
}

#services-inner {
    margin: 0 auto;
    width: 60%;
}

#services-inner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#services-inner li {
    text-align: center;
}

#services-inner p {
    text-align: center;
}

#info {
    position: relative;
    background-color: #888;
    opacity: 0.95;
    top: -450px;
    right: 20px;
    padding: 20px;
    float: right;
    border-radius: 20px;
    text-transform: uppercase;
}

#info a {
    color: #fff;
    text-decoration: none;
}

#info a:hover {
    text-decoration: none;
    color: #fff;
}

#info p {
    color: #fff;
}

#contact {
    width: 100%;
}

#contact iframe {
    height: 600px;
    width: 100%;
}

#about {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    width: 100%;
    height: 600;
}

#about-inner {
    width: 80%;
    margin: 0 auto;
}

#about h3 {
    color: white;
    margin: 5px;
}

#about p {
    margin: 5px;
    color: #fff;
}

#about a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    margin: 5px;
}
#about a:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
#about-inner div {
    background-color: #888;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

div.keith {
    float: right;
    height: 250px;
    width: 150px;
}
div.ancka {
    float: right;
    height: 250px;
    width: 150px;
}
div.dana {
    float: right;
    height: 250px;
    width: 150px;
}
div.sarah {
    float: right;
    height: 250px;
    width: 150px;
}
div.cindy {
    float: right;
    height: 250px;
    width: 150px;
}
div.eileen {
    float: right;
    height: 250px;
    width: 150px;
}
div.blake {
    float: right;
    height: 250px;
    width: 150px;
}*/
