@font-face {
    font-family: 'robotothin';
    src: url('roboto-thin-webfont.eot');
    src: url('roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-thin-webfont.woff2') format('woff2'),
         url('roboto-thin-webfont.woff') format('woff'),
         url('roboto-thin-webfont.ttf') format('truetype'),
         url('roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stephanie_marie_jfregular';
    src: url('stephanie_marie_jf-webfont.eot');
    src: url('stephanie_marie_jf-webfont.eot?#iefix') format('embedded-opentype'),
         url('stephanie_marie_jf-webfont.woff2') format('woff2'),
         url('stephanie_marie_jf-webfont.woff') format('woff'),
         url('stephanie_marie_jf-webfont.ttf') format('truetype'),
         url('stephanie_marie_jf-webfont.svg#stephanie_marie_jfregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p {
	color: #fff;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#ziolkowski {
	font-size: 36px;
}

.dental {
	font-size: 24px;
	color: #ffffff;
	font-weight:  bold;
	font-family: 'Muli', sans-serif;
}

.cosmetic-and-family {
	font-size: 18px;
	color: #44A6F7;
	font-weight: normal;
	font-family: 'Muli', sans-serif;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#ziolkowski {
		font-size: 48px;
	}

	.dental {
		font-size: 30px;
		color: #ffffff;
		font-weight:  bold;
		font-family: 'Muli', sans-serif;
	}

	.cosmetic-and-family {
		font-size: 24px;
		color: #44A6F7;
		font-weight: normal;
		font-family: 'Muli', sans-serif;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#ziolkowski {
		font-size: 72px;
	}

	.dental {
		font-size: 36px;
		color: #ffffff;
		font-weight:  bold;
		font-family: 'Muli', sans-serif;
	}

	.cosmetic-and-family {
		font-size: 30px;
		color: #44A6F7;
		font-weight: normal;
		font-family: 'Muli', sans-serif;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#ziolkowski {
		font-size: 96px;
	}

	.dental {
		font-size: 48px;
		color: #ffffff;
		font-weight:  bold;
		font-family: 'Muli', sans-serif;
	}

	.cosmetic-and-family {
		font-size: 36px;
		color: #44A6F7;
		font-weight: normal;
		font-family: 'Muli', sans-serif;
	}
}

.steph {
	font-family: 'stephanie_marie_jfregular';
}



img.employee {
	max-width: 120px;
	margin-right: 20px;
	margin-bottom: 10px;
}

img.link {
	max-width: 150px;
	max-height: 150px;
	margin: 20px;
}

iframe.google-map {
	width: 100%;
	height: 500px;
}

div.navbar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
}

body {
  position: relative;
  margin-top: 40px;
}

div.page-header {
	padding-top: 60px;
	margin-top: -40px;
}

h2.warp {
	padding-top: 60px;
	margin-top: -40px;
}

a.no {
	text-decoration: none;
}
a.no:hover {
	text-decoration: none;
}

.design {
	width: 100%;
	overflow: hidden;
	position: absolute;
	height: 100%;
}

#up-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-top: 1000px solid #2a9fd6;
	border-right: 1000px solid transparent;
	opacity: 1;
	z-index: -1;
}

#up-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-top: 1600px solid #77b300;
	border-left: 1600px solid transparent;
	opacity: 1;
	z-index: -1;
}

#down-left {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border-bottom: 800px solid #f80;
	border-right: 800px solid transparent;
	opacity: 1;
	z-index: -1;
}

#down-right {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-bottom: 1800px solid #93c;
	border-left: 1800px solid transparent;
	opacity: 1;
	z-index: -1;
}

.left-tri {
	position: absolute;
	left: 0;
	height: 4000px;
	z-index: -1;
	opacity: 1;
	width: 100%;
	overflow: hidden;
}

.left-up-tri {
	width: 0;
	height: 0;
	border-bottom: 2000px solid #c00;
	border-right: 2000px solid transparent;
}
.left-down-tri {
	width: 0;
	height: 0;
	border-top: 2000px solid #c00;
	border-right: 2000px solid transparent;
}

.right-tri {
	position: absolute;
	right: 0;
	height: 2400px;
	z-index: -1;
	opacity: 1;
}

.right-up-tri {
	width: 0;
	height: 0;
	border-bottom: 1200px solid #2a9fd6;
	border-left: 1200px solid transparent;
}
.right-down-tri {
	width: 0;
	height: 0;
	border-top: 1200px solid #2a9fd6;
	border-left: 1200px solid transparent;
}
