<!DOCTYPE html>
<html>

<head>
  <title>Ziolkowski Dental</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/minimal.css">
  <link rel="icon" type="image/png" href="/img/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'> </head>

<body data-spy="scroll" data-target="#navbar-scroll">
  <div id="navbar-scroll" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </button><a href="#home" class="navbar-brand"><span class="steph"><strong>Z</strong></span></a> </div>
      <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a class="readable" href="#about">About Us</a> </li>
          <li><a class="readable" href="#services">Services </a> </li>
          <li><a class="readable" href="#financial">Financial Information</a> </li>
          <li><a class="readable" href="#location">Location</a> </li>
          <li><a class="readable" href="#contact">Contact Us</a> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="home" data-offset="100" class="page-header row">
      <div class="col-lg-9 col-sm-8 col-xs-6">
        <h1 id="ziolkowski" class="steph">
          Ziolkowski
          <span class="dental">
            Dental, SC
          </span>
        </h1> <span class="cosmetic-and-family">
          Cosmetic & Family Dentistry
        </span> </div>
      <div class="col-lg-3 col-sm-4 col-xs-6">
        <br />
        <h5>
          <a href="https://www.google.com/maps/place/Ziolkowski+Dental,+SC:+Ziolkowski+Keith+A+DDS/%4043.088903,-87.887087,17z/data=!3m1!4b1!4m2!3m1!1s0x88051f25a40ac2d1:0xffccd297e78b9729" class="no">
            3970 N. Oakland Ave. #403
          </a> 
        </h5>
        <h5>
          <a href="https://www.google.com/maps/place/Ziolkowski+Dental,+SC:+Ziolkowski+Keith+A+DDS/%4043.088903,-87.887087,17z/data=!3m1!4b1!4m2!3m1!1s0x88051f25a40ac2d1:0xffccd297e78b9729" class="no"> 
            Shorewood, WI 53211
          </a>
        </h5>
        <h5>
          <a href="tel:+14149620389" class="no">
            (414) 962-0389
          </a>
        </h5>
        <h5>
          <a href="mailto:team%40ziolkowskidental%2Ecom" class="no">
            Team@ZiolkowskiDental.com
          </a>
        </h5> </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div id="welcome" data-ride="carousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <div role="listbox" class="carousel-inner">
            <div class="item active"><img src="/img/smile-0.jpg" alt="Smile"> </div>
            <div class="item"><img src="/img/smile-1.jpg" alt="Smile"> </div>
            <div class="item"><img src="/img/smile-2.jpg" alt="Smile"> </div>
          </div>
          <a href="#welcome" role="button" data-slide="prev" class="left carousel-control"></a>
          <a href="#welcome" role="button" data-slide="next" class="right carousel-control"></a>
        </div>
      </div>
      <div class="col-md-4 well">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="/newpatient">New Patient Forms</a></h3> </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"> Recently visited our office?</h3> </div>
          <div class="panel-body">
            <p class="lead">Please, take a minute to tell us what you think!</p>
            <div class="row">
              <a class="col-xs-6" href="https://plus.google.com/112882490495954877859/about" target="_blank"> <img align="center" onclick="like()" src="/img/like.svg" alt="like" width="30" height="30" /> </a>
              <a class="col-xs-6" href="mailto:team@ziolkowskidental.com?subject=Patient%20Concerns&amp;body=If%20you%20have%20questions,%20concerns,%20suggestions,%20or%20if%20you%20are%20not%20satisfied%20any%20time%20during%20your%20care,%20please%20do%20not%20hesitate%20to%20get%20in%20touch%20with%20us." target="_blank"> <img align="center" src="/img/dislike.svg" alt="dislike" width="30" height="30" /> </a>
            </div>
            <script type="text/javascript">
              function like()
              {
                alert("We're glad to hear that you enjoyed your experience with us. Please take a minute to write a review for Google.")
              }
            </script>
          </div>
        </div>
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">For Payment:</h3> </div>
          <div class="panel-body">
            <form action="https://www.paypal.com/cgi-bin/webscr" class="form-horizontal" method="post">
              <fieldset>
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="SMHTHAN2SLZLG">
                <input type="hidden" name="on0" value="Dental Account Number">
                <div class="form-group row">
                  <label for="dn" class="col-lg-4 control-label">Dental Account Number</label>
                  <div class="col-lg-8">
                    <input id="dn" type="text" placeholder="Dental Account Number" name="os0" class="form-control" maxlength="200"> </div>
                </div>
                <div class="row">
                  <div class="col-lg-offset-4">
                    <button style="margin-left: 15px;" class="btn btn-primary" name="submit" alt="PayPal"> PayPal </button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Welcome to Ziolkowski Dental!</h3> </div>
      <div class="panel-body">
        <p>Our office is located 10 minutes north of downtown Milwaukee in beautiful Shorewood, WI. We know you have many choices in your dental care. We also know how important your smile is. That's why we are proud to offer comfortable care in a relaxed atmosphere. We aim to provide high quality dentistry, great dental experiences, and results that surpass your expectations.</p>
        <p>Here at Ziolkowski Dental we believe in a very conservative approach to dentistry. We will do the least invasive treatment needed to keep you healthy and comfortable. Often there are treatment options. We will thoroughly explain all of them to you and let you choose what is best for you. In whatever we do, our goal is to do it as well as possible. We do not want to be a usual or average office. We work hard to provide exceptional quality, comfort, and service, and are fortunate to have built a practice with patients who expect and receive a little extra!</p>
      </div>
    </div>
    <div id="about" class="page-header">
      <h1>About <small>the team</small></h1> </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Keith <small>Doctor</small></h2><img src="/img/keith.jpg" class="employee img-responsive pull-left img-rounded">
        <p>Dr. Ziolkowski is a life long resident of Milwaukee. He attended Marquette University High School, Marquette University, Marquette University Dental School and has been practicing at the same office since he graduated in 1982. In many ways he and his family of patients grew up together. Many remember him when he still had a lot more hair!</p>
        <p>Dr. Keith strongly believes that planing dental treatment should involve a discussion with his patients. He wants to know what is important to them; cosmetic concerns, pain, fear, past experiences. He believes that exceptional care only comes with exceptional knowledge. He is proud to have earned a Fellowship in the Academy of General Dentistry which requires 500 hours of continuing education and passing a 400 question exam. He is honored to be listed with American Top Dentists. He also believes in the importance of explaining things to patients. He knows that understanding treatment takes much of the fear out of it.</p>
        <p>Dr. Z also believes in community involvement. He supports the arts such as The Milwaukee Rep and The Milwaukee Symphony Orchestra. He has been the team dentist for the Milwaukee Admirals Hockey Team for over 25 years. He is married to Ancka (Anne) who works in the office and has two children, Blake and Remy. His favorite free time activity is traveling with his family, seeing new places, enjoying different cultures. Of all his titles his favorite and most important is 'Daddy'!</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h2>Sarah <small>Dental Assistant</small></h2><img src="/img/sarah.jpg" class="employee img-responsive pull-left img-rounded">
        <p>Hi, my name is Sarah. I live in Mequon. I graduated from Milwaukee Area Technical College's Dental Assisting program in the spring of 2001. I have been a Dental Assistant for 11 years and enjoy it very much. I joined Ziolkowski Dental May 2012 and am very excited to be a part of this team. In my spare time I enjoy tennis, walking and going camping. In our summer months I frequent all of the Milwaukee festivals with family and friends.</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h2>Dana <small>Hygienist</small></h2><img src="/img/dana.jpg" class="employee img-responsive pull-left img-rounded">
        <p>Hi, my name is Dana. I have been a Dental Hygienist for 12 years. I began my career in a periodontal office which specializes in gum disease. In 2006 I had the pleasure of joining Ziolkowski Dental. It is great to spend my days working with such a kind and caring staff. My true joy comes from interacting with patients and providing the best oral health-care. It is very important to me to stay up to date with current technology and education.</p>
        <p>When I'm not at work I keep busy with my 18 year old son, Jaden. If I can find time for myself I enjoy relaxing with a good book.</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h2>Eileen <small>Hygienist</small></h2><img src="/img/eileen.jpg" class="employee img-responsive pull-left img-rounded">
        <p>Hi, my name is Eileen and I am a Dental Hygienist. I have worked in dentistry 34 years and have been with Dr. Ziolkowski 15 years. I started my career as a chair-side dental assistant and taught assisting for several local programs.</p>
        <p>I graduated from Milwaukee Area Technical College and Marquette University with an Associate and Bachelor's degree in Dental Hygiene. I also have another career as a Respiratory Therapist.</p>
        <p>I have 2 cats. I enjoy travel, theater, concerts, and sports (go MU Warriors!)</p>
        <p>Our office is very relaxed and we want you to feel comfortable and have fun when you come to see us. Our patients are like family and I look forward to catching up with everyone every 6 months... don't worry I get your teeth cleaned too!</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h2>Cindy <small>Hygienist</small></h2><img src="/img/cindy.jpg" class="employee img-responsive pull-left img-rounded">
        <p>Hi, I'm Cindy and I graduated in 1979 from the University of Minnesota as a Dental Hygienist. I have been practicing dental hygiene part or full time for over 30 years (since I was 12 years old) while raising 4 wonderfully successful sons.</p>
        <p>I enjoy reading, walking with or without my crazy dogs, swimming, listening to a variety of music and riding our Harley with my wonderful husband of over 30 years. We welcomed a beautiful new daughter (in-law) to our male dominated family this summer and are looking forward to more daughters soon!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>Anne <small>Office Manager</small></h2><img src="/img/ancka.jpg" class="employee img-responsive pull-left img-rounded">
        <p>Hi, I'm Anne (Ancka) and I've been here at the dental office for 25 years! I began my dental career at Marquette University School of Dentistry many years ago as a dental assistant. The first class of dental students I worked with was the class of 1982 - coincidentally the same year Keith was graduating. </p>
        <p>In April of 1989, I started working at the office, "love blossomed" and I became Mrs. Ziolkowski, It was not long after that, Keith and I began a family. While the kids were in grade-school, I worked part-time at the office, devoting many hours to volunteering at their grade school. Blake, our eldest, is now a junior at Marquette University High School. His passions are scuba diving, computer programming, sailing, and robotics. Remy is a freshman at Divine Savior Holy Angels and is loving life. Her loves are volleyball, beaches, and music. I am now back to working full-time as the Office Manager. When I'm not at the office, I am dreaming of beaches, sunshine, and planning a return trip to St. John in the USVI.</p>
        <p>During that span of time many changes have occurred at the office but several things remain constant. We have a wonderful family of patients who have been part of our lives for years. Many patients have grown up here and are now bringing their new families to our office. Secondly, we are fortunate to maintain a great staff to take care of all those wonderful people. It's truly a pleasure to work with such a dedicated and caring group of women! Last, but not least is Keith. Not all couples can enjoy working with their spouse but I love it.</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <h2>Blake <small>Tech Geek</small></h2><img src="/img/blake.jpg" class="employee img-responsive pull-left img-rounded">
        <p>Loren gypsum dolor sit mate, consecrate discipling lit. Curability ex nils, plenteousness a nun enc, pulmonary Corvallis nun. Se portrait, lit in place rat molls, gypsum diode actor erst, ac dictum equine chem gestates libeler. Suspended commode lacs el erst accusation pulmonary. Crays critique accusation erst, ac curses ores aliquot get. Null am incident, qua vitae ferment um mattes, arc torpor intermodule erst, get biennium est ores in mass. Maris ferment um nativeness est tied dictum. UT Loretta quid nib et curses. Suspended at Purus ex. Aliquot moles tie torpor EU incident so dales. Dunc maxims imper diet rises id ports.</p>
        <p>Noella peculiars ult rices ante at commode. Curability Budapest perambulator dolor et ornate. Phallus EU sapient chem. Suspended at equine gravid dolor Sagittarius biennium. Null am curses morel et nun bandit ports. Bisque vitae ferment um arc. In ha habitableness plates dictum st.</p>
      </div>
    </div>
    <div id="services" class="page-header">
      <h1>Services <small>what we can do for you</small></h1> </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Cosmetic & Family Dentistry</h3> </div>
          <div class="panel-body">
            <p>We have the privilege of serving patients of all ages. In fact, we have many families where we see three (or even four) generations of patients: from toddlers to great-grandparents. Although we do many types of dental procedures, we really enjoy restoring or creating a beautiful smile, everything we do is considered to be cosmetic dentistry.</p><a role="button" data-toggle="modal" data-target="#cosmetic-and-family-dentistry">More Information</a> </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Nitrous Oxide</h3> </div>
          <div class="panel-body">
            <p>We have Nitrous Oxide, or laughing gas, to help ease the anxiety of dental appointments. However, for anxiety, we realize that there is nothing more important that painless, careful, and excellent work.</p><a role="button" data-toggle="modal" data-target="#nitrous-oxide">More Information</a> </div>
        </div>
      </div>
      <div class="visible-sm-block col-sm-12"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Headphones</h3> </div>
          <div class="panel-body">
            <p>For many patients, the noise of dental work is the worst part. Bring your headphones or use ours and relax with your favorite music.</p><a role="button" data-toggle="modal" data-target="#headphones">More Information</a> </div>
        </div>
      </div>
      <div class="visible-md-block col-md-12"></div>
      <div class="visible-lg-block col-lg-12"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Internet</h3> </div>
          <div class="panel-body">
            <p>Ask us for the password and you can access the Internet on a your devices while you are here.</p><a role="button" data-toggle="modal" data-target="#internet">More Information</a> </div>
        </div>
      </div>
      <div class="visible-sm-block col-sm-12"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Emergencies</h3> </div>
          <div class="panel-body">
            <p>We allow time in our schedule every day to accommodate for emergencies. If you are a regular patient at our office and you are in pain, we will do what is necessary to make you comfortable.</p><a role="button" data-toggle="modal" data-target="#emergencies">More Information</a> </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Cosmetic Imaging</h3> </div>
          <div class="panel-body">
            <p>We use special dental imaging software to create "before and after" photographs of your smile. We can design a new smile and get a visual representation of how it will look when we are finished.</p><a role="button" data-toggle="modal" data-target="#cosmetic-imaging">More Information</a> </div>
        </div>
      </div>
      <div class="visible-md-block col-md-12"></div>
      <div class="visible-lg-block col-lg-12"></div>
      <div class="visible-sm-block col-sm-12"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Sports Dentistry</h3> </div>
          <div class="panel-body">
            <p>As the team dental office for the Milwaukee Admirals professional hockey team since 1985, we have seen nearly every injury you could imagine. We have extensive experience in getting injured athletes (and unfortunate non-athletes) out of pain and looking good quality.</p><a role="button" data-toggle="modal" data-target="#sports-dentistry">More Information</a> </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Denture & Partials</h3> </div>
          <div class="panel-body">
            <p>If tooth loss is unavoidable, removable replacement partial dentures are an option if some natural teeth remain. Full dentures are needed if all teeth are missing and implants are not possible.</p><a role="button" data-toggle="modal" data-target="#dentures-and-partials">More Information</a> </div>
        </div>
      </div>
      <div class="visible-sm-block col-sm-12"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Smile Makeovers</h3> </div>
          <div class="panel-body">
            <p>Today, anyone can have a beautiful, healthy-looking smile. Broken, injured, crowded, missing, or other unattractive teeth can be imporoved with dental procedures like: whitening, veneers, crowns, bridges, cosmetic bonding, and implants. There are often several ways that we can achieve the result that we desire, and can discuss each of them.</p><a role="button" data-toggle="modal" data-target="#smile-makeovers">More Information</a> </div>
        </div>
      </div>
      <div class="visible-md-block col-md-12"></div>
      <div class="visible-lg-block col-lg-12"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Implants</h3> </div>
          <div class="panel-body">
            <p>Implants are used to permanently replace a tooth or several teeth. They can also be used to help support a loose denture or partial denture. The process of placing and restoring an implant is usually a team approach and involves the assistance of an oral surgeon or periodentist (gum specialist).</p><a role="button" data-toggle="modal" data-target="#implants">More Information</a> </div>
        </div>
      </div>
      <div class="visible-sm-block col-sm-12"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Teeth Whitening</h3> </div>
          <div class="panel-body">
            <p>Teeth that are discolored from staining, age, medications, or genetics can be whitened. How white you want them to be is your choice. We can discuss this with you.</p><a role="button" data-toggle="modal" data-target="#teeth-whitening">More Information</a> </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Veneers</h3> </div>
          <div class="panel-body">
            <p>Dental veneers are thin layers of porcelain or ceramic that are placed over the front of a tooth. Often used as a cosmetic restoration, they can beautifully convert worn, crooked, chipped, uneven, or discolored teeth.</p><a role="button" data-toggle="modal" data-target="#veneers">More Information</a> </div>
        </div>
      </div>
      <div class="visible-md-block col-md-12"></div>
      <div class="visible-lg-block col-lg-12"></div>
      <div class="visible-sm-block col-sm-12"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Fillings</h3> </div>
          <div class="panel-body">
            <p>When a tooth has small holes (cavities), it can often be replaced by cleaning out and rebuilding the tooth with a tooth-colored composite resin or silver filling. Due to the cost, gold is seldom used today. We can decide which is best for you.</p><a role="button" data-toggle="modal" data-target="#fillings">More Information</a> </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Crowns</h3> </div>
          <div class="panel-body">
            <p>Sometimes a tooth is so badly damaged or decayed that a filling will not be strong enough to last very long. In this case we may recommend a crown, which is fabricated in a lab, covers the whole tooth, and is many times stronger than a filling.</p><a role="button" data-toggle="modal" data-target="#crowns">More Information</a> </div>
        </div>
      </div>
      <div class="visible-sm-block col-sm-12"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Bridges</h3> </div>
          <div class="panel-body">
            <p>A bridge is a permanently cemented replacement fir a missing tooth or teeth. It is basically three or more crowns which are attached together and placed on permanent teeth to replace the missing teeth or tooth.</p><a role="button" data-toggle="modal" data-target="#bridges">More Information</a> </div>
        </div>
      </div>
      <div class="visible-md-block col-md-12"></div>
      <div class="visible-lg-block col-lg-12"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Gum Therapy</h3> </div>
          <div class="panel-body">
            <p>Healthy gums are vital in maintaining the health of the teeth, mouth, and body. Our hygienists are highly skilled at thoroughly and comfortably removing the plaque and tartar that cause gum disease. Preventing disease is a priority for us and we will help you set up and follow a program to avoid problems in the future.</p><a role="button" data-toggle="modal" data-target="#gum-therapy">More Information</a> </div>
        </div>
      </div>
      <div class="visible-sm-block col-sm-12"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Root Canals</h3> </div>
          <div class="panel-body">
            <p>Sometimes the nerve endings of a tooth become infected or die. This can result in pressure or pain inside of the tooth. Often root canal therapy can relieve the pressure and eliminate the pain.</p><a role="button" data-toggle="modal" data-target="#root-canals">More Information</a> </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Cleanings</h3> </div>
          <div class="panel-body">
            <p>What most people call a dental "cleaning" is really much more than just a cleaning. Our hygienists will ... </p><a role="button" data-toggle="modal" data-target="#cleanings">More Information</a> </div>
        </div>
      </div>
    </div>
    <div id="financial" class="page-header">
      <h1>Financial Information <small>professional care at a minimal price</small></h1> </div>
    <h2>Philosophy</h2>
    <div class="well">
      <p>Our fees are based on the skill, time and cost involved in providing services and is not always the same as those reimbursed by insurance companies. For those patients with insurance, we will be happy to complete and submit all forms pertaining to your claim. However, insurance companies, plans and benefits vary greatly, and not all charges may be covered or completely paid by insurance.</p>
      <p>To avoid misunderstandings, we encourage discussion of services and fees with the front office staff prior to treatment. Unless specific payment arrangements have been approved by this office, fees for professional services are due and payable the day services are rendered. Payment can be made by cash, check, debit card, Visa, MasterCard, American Express, or Discover.</p>
      <p class="text-primary">Through this policy, it is our intent to keep dental costs down while maintaining a high level of professional care.</p>
    </div>
    <h2 id="financing-and-insurance" class="warp">Financing & Insurance</h2>
    <div class="row">
      <div class="col-lg-2 col-md-12 col-sm 12 col-xs-12 well">
        <p>For a convenient health care financing solution:</p>
        <a target="_blank" href="http://www.carecredit.com"><img src="/img/care-credit.png" alt="Care Credit" class="img-responsive img-rounded"> </a>
      </div>
      <div class="col-lg-offset-1 col-lg-9 col-md-12 col-sm-12 col-xs-12 well">
        <h3>Provider for:</h3>
        <br>
        <a target="_blank" href="https://www.deltadental.com/Public/index.jsp"><img src="/img/delta-dental.gif" class="img-rounded link"> </a>
        <a target="_blank" href="https://www.weatrust.com"><img src="/img/wea-trust.jpg" class="img-rounded link"> </a>
        <a target="_blank" href="http://www.cigna.com"><img src="/img/cigna.png" class="img-rounded link"> </a>
        <a target="_blank" href="https://www.aetna.com"><img src="/img/aetna.png" class="img-rounded link"> </a>
        <a target="_blank" href="https://www.anthem.com/health-insurance/home/overview"><img src="/img/anthem.jpg" class="img-rounded link"> </a>
        <a target="_blank" href="http://sciondental.com/sd.htm"><img src="/img/scion.png" class="img-rounded link"> </a>
        <a target="_blank" href="https://www.unitedconcordia.com/dental-insurance/"><img src="/img/uc.png" class="img-rounded link"> </a>
        <a target="_blank" href="https://www.dha.com"><img src="/img/dha.png" class="img-rounded link"> </a>
        <a target="_blank" href="https://www.assurant.com"><img src="/img/assurant.svg" class="img-rounded link"> </a>
      </div>
    </div>
    <h2 id="special" class="warp">Special</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-12 col-sm-offset-0 well"><img src="/img/nick.jpg" class="center-block img-responsive img-rounded">
        <h3>$75.00 OFF </h3>
        <h4>Teeth Whitening Special </h4>
        <p id="expiration" class="lead">expires July 31st, 2015</p>
        <p id="today"></p><a href="/special">Print</a> </div>
    </div>
    <div id="location" class="page-header">
      <h1>Location <small>where to find us</small></h1> </div>
    <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Ziolkowski%20Dental%2C%20SC%3A%20Ziolkowski%20Keith%20A%20DDS%2C%20North%20Oakland%20Avenue%2C%20Milwaukee%2C%20WI%2C%20United%20States&amp;key=AIzaSyBrkSPDPeoTSdoBi7bIIIqCoaf4-UP-r0Q" class="google-map"></iframe>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
    <div id="contact">
      <div class="page-header">
        <h1>Contact Us <small>how to talk to us</small></h1> </div>
      <form action="/" method="post" class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label for="first-name" class="col-lg-2 control-label">First Name</label>
            <div class="col-lg-10">
              <input id="first-name" type="text" placeholder="First Name" name="firstName" class="form-control"> </div>
          </div>
          <div class="form-group">
            <label for="last-name" class="col-lg-2 control-label">Last Name</label>
            <div class="col-lg-10">
              <input id="last-name" type="text" placeholder="Last Name" name="lastName" class="form-control"> </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input id="email" type="text" placeholder="Email" name="email" class="form-control"> </div>
          </div>
          <div class="form-group">
            <label for="phone" class="col-lg-2 control-label">Phone Number</label>
            <div class="col-lg-10">
              <input type="text" placeholder="+1 (###) ###-####" name="phone" class="form-control"> </div>
          </div>
          <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Message</label>
            <div class="col-lg-10">
              <textarea id="textArea" rows="3" name="message" class="form-control"></textarea><span class="help-block">Please provide the nature of your request.</span> </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Patient Type</label>
            <div class="col-lg-10">
              <div class="radio">
                <label>
                  <input id="new" type="radio" name="type" value="New Patient" checked="">
                  <p>New Patient</p>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input id="current" type="radio" name="type" value="Current Patient">
                  <p>Current Patient</p>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input id="returning" type="radio" name="type" value="Returning Patient">
                  <p>Returning Patient</p>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="reset" class="btn btn-default">Cancel</button><span> </span>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div id="cosmetic-and-family-dentistry" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Cosmetic & Family Dentistry</h4> </div>
          <div class="modal-body">
            <p> A bright and beautiful smile can give your confidence a boost. Your general dentist can perform a variety of cosmetic procedures to help you improve the look of your smile. Learn more about the cosmetic dentistry procedures that your dentist provides today! </p>
            <h5>
                What is cosmetic dentistry?
              </h5>
            <p> Cosmetic dentistry refers to any dental work that improves the appearance of a person's teeth, gums, or bite. </p>
            <h5>
                What are some common cosmetic procedures?
              </h5>
            <p> Common cosmetic procedures include bleaching, bonding, contouring and reshaping, crowns, and veneers. </p>
            <h5>
                Bleaching
              </h5>
            <p> Bleaching is a chemical procedure used to whiten teeth, which often become discolored over time. Some people have their teeth bleached to remove stains, while others simply want a brighter smile. Your dentist may perform bleaching in the office or provide you with an at-home bleaching kit to be used under his or her supervision. </p>
            <h5>
                Bonding
              </h5>
            <p> Bonding is the process of using a composite resin to fill in gaps between teeth or to whiten them. Bonding also may be used to correct chipped teeth or minor decay. The bonding procedure may be completed in a single office visit, and the results often last for several years, although some bonding resins are more susceptible to staining or chipping than other restoration materials. </p>
            <h5>
                Contouring and reshaping
              </h5>
            <p> Often combined with bonding, contouring and reshaping procedures are used to correct crooked, chipped, irregularly shaped, or overlapping teeth. Contouring and reshaping procedures can alter the teeth's length, shape, or position; contouring also can be used to improve bite. Contouring and reshaping procedures may be completed in a single visit and are ideal for patients with normal, healthy teeth who want subtle changes to their smiles. </p>
            <h5>
                Crowns
              </h5>
            <p> Also known as caps, crowns are placed over a tooth to create a normal appearance. Crowns can be used to restore fractured, misshapen, or discolored teeth, or those with significant structure loss. Crowns have a longer life expectancy than other cosmetic restorations, but they also are more expensive and time-consuming to place, requiring more than one office visit. Crowns are generally used in cases in which other cosmetic procedures would not be effective. </p>
            <h5>
                Veneers
              </h5>
            <p> Veneers are thin pieces of porcelain or plastic placed over the front of teeth to change their color or shape. In addition to improving teeth with uneven surfaces, veneers can be used to correct chipped, discolored, oddly shaped, unevenly spaced, or crooked teeth. Placement of veneers often requires more than one office visit, but they are less expensive than crowns and have better color stability and a longer life expectancy than bonding restorations. </p>
            <h5>
                Which procedure is right for me?
              </h5>
            <p> The condition of your teeth and your desired results will determine which cosmetic procedures are best for you. Your dentist can answer your questions and make recommendations on how best to improve your smile. </p>
          </div>
        </div>
      </div>
    </div>
    <div id="nitrous-oxide" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Nitrous Oxide</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="headphones" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Headphones</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="internet" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Internet</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="emergencies" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Emergencies</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="cosmetic-imaging" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Cosmetic Imaging</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="sports-dentistry" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Sports Dentistry</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="dentures-and-partials" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Dentures and Partials</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="smile-makeovers" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Smile Makeovers</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="implants" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Implants</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="teeth-whitening" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Teeth Whitening</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="veneers" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Veneers</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="fillings" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Fillings</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="crowns" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Crowns</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="bridges" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Bridges</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="gum-therapy" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Gum Therapy</h4> </div>
          <div class="modal-body">
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="root-canals" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Root Canals</h4> </div>
          <div class="modal-body"> ... </div>
        </div>
      </div>
    </div>
    <div id="cleanings" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span> </button>
            <h4 id="myModalLabel" class="modal-title">Cleanings</h4> </div>
          <div class="modal-body"> ... </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>